/**
 * CSS style to show Reveal.js presentation
 */

html {
  /* Theme color not displayed in fullscreen mode:
  https://github.com/hakimel/reveal.js/issues/1408 */
  background: inherit;
}

body {
  visibility: hidden;
}

.view-reveal-plugin {
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  visibility: initial;
}
